.loader {
    border: 4px solid black;
    width: 0;
    height: 10px;
    animation: spin 2s linear infinite;
}

.error {
    color: red;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
